<div class="container-fluid view">
  <div class="mask  flex-center">
    <div class="d-flex flex-column">
      <div class="container flex-column">
        <h2 class="heading display-5 d-none d-md-block">Wpisz słowo po polsku</h2>
        <h3 class="heading d-md-none">Wpisz słowo po polsku</h3>
        <app-add-box></app-add-box>
      </div>
        <br>
      <div class="container flex-column">
        <h2 class="heading display-5 d-none d-md-block">Wpisz słowo po angielsku</h2>
        <h3 class="heading d-md-none">Wpisz słowo po angielsku</h3>
        <app-add-box></app-add-box>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary">Dodaj</button>
      </div>
    </div>
  </div>
</div>
