.mt-6 {
  margin-top: 5rem;
}
.btn-rounded {
  -webkit-border-radius: 10em;
  border-radius: 10em;
}
.bg-vio {
  background-color: rgba(40, 10, 200, 6);
  border-radius: 10px;
}
.collapse {
  height: auto !important;
}
