body {
  background: white url('./assets/bg.svg') no-repeat bottom right;
  // padding: 4em;
  // background-size: 85%;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  ::selection {
    color: white;
    background-color: blueviolet;
  }
}
